[submodule "lib/scopehal"]
	path = lib/scopehal
	url = https://github.com/ngscopeclient/scopehal.git
[submodule "lib/scopehal-apps"]
	path = lib/scopehal-apps
	url = https://github.com/ngscopeclient/scopehal-apps.git
[submodule "lib/libsigmf"]
	path = lib/libsigmf
	url = https://github.com/deepsig/libsigmf.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
