[submodule "lib/libsigmf"]
	path = lib/libsigmf
	url = https://github.com/deepsig/libsigmf.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/VkFFT"]
	path = lib/VkFFT
	url = https://github.com/ngscopeclient/VkFFT.git
